<html>

    <h3>Habitats</h3>
    <table>
        <thead> 
            <th>ID</th>  
            <th>Habitat</th> 
            <th>Climate</th> 
        </thead> 
	    <tbody>
	        {{#each habitats}} 
	        <tr> 
	        	<td>{{id}}</td>
	            <td>{{habitat}}</td> 
	            <td>{{climate}}</td> 
	        </tr> 
	        {{/each}} 
	    </tbody> 
    </table> 

</html>