<!doctype html>
<html>
<head>
	<title>Monster Tracker</title>
	<meta charset="UTF-8">
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Imported stylesheets here-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <!--Our custom stylesheet here-->
    <link type="text/css" rel="stylesheet" href="/css/styles.css" type="text/css">
    <!--Include google material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>

<body>
	<header>
	<nav>
	<div class="container">
	<div class="nav-wrapper">
	  <a href="/" class="brand-logo">Monster DB</a>
	  <ul id="nav-mobile" class="right hide-on-med-and-down">
	    <li><a href="/monsters">Monsters</a></li>
	    <li><a href="/types">Types</a></li>
	    <li><a href="/habitats">Habitats</a></li>
	    <li><a href="/skills">Skills</a></li>
	    <li><a href="/weaknesses">Weaknesses</a></li>
	  </ul>
	</div>
	</div>
	</nav>
	</header>

	<div class="container">
    <span class="browser-badge right"><i class=" material-icons">important_devices</i> Please test in Chrome</span>
	{{{body}}}
	</div>

</body>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 m6 s12">
        <h5 class="white-text">Why monsters?</h5>
       <ul class="grey-text text-lighten-4">
          <li class="with-bullets">Sheila reads a lot of comics</li>
          <li class="with-bullets">Talking about dragons > studying</li>
          <li class="with-bullets">When in doubt, design with tentacles</li>
      </div>
      <div class="col l5 offset-l1 m6 s12">
        <h5 class="white-text">Other famous monsters</h5>
        <ul>
          <li><a class="my-link grey-text text-lighten-3" href="https://www.pixar.com/feature-films/monsters-university"><i class="tiny material-icons right">launch</i>Monsters University</a></li>
          <li><a class="my-link grey-text text-lighten-3" href="https://www.spacejam.com/archive/spacejam/movie/jam.htm"><i class="tiny material-icons right">launch</i>Retro MonSTARS</a></li>
          <li><a class="my-link grey-text text-lighten-3" target="_blank" href="https://littlemonsters.com/"><i class="tiny material-icons right">launch</i>Lady Gaga: Little Monsters</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    CS340 - Summer 2019 - Sheila Babayan & Rene Arana
    </div>
  </div>
</footer>

</html>
